body {
  background-color: #f2f2f2;
}
.table td,
.table th {
  vertical-align: middle;
}
.btn-sm {
  margin-right: 4px;
}
.btn-success {
  width: 120px;
}

#bookTableBody {
  display: block;
  height: 400px;
  overflow-y: auto;
}

.table thead,
.table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
